
			<div class="modal-header" style="padding:35px 50px;">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4><span class="glyphicon glyphicon-lock"></span> Login</h4>
        </div>
        <div class="modal-body" style="padding:40px 50px;">
          <form role="form">
            <div class="form-group">
              <label for="usrname"><span class="glyphicon glyphicon-user"></span> Username</label>
              <input type="text" class="form-control" id="usrname" placeholder="Enter email">
            </div>
            <div class="form-group">
              <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Password</label>
              <input type="text" class="form-control" id="psw" placeholder="Enter password">
            </div>
            <div class="checkbox">
              <label><input type="checkbox" value="" checked>Remember me</label>
            </div>
              <button type="submit" class="btn btn-success btn-block"><span class="glyphicon glyphicon-off"></span> Login</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
          <p>Not a member? <a href="#">Sign Up</a></p>
          <p>Forgot <a href="#">Password?</a></p>
        </div>

 <!-- <div class='modal-header'>
	<h4 class='modal-title' id='modal-basic-title'>Enter in the world of the Monopattini</h4>
	<button type='button' style='margin-top: -3%' class='close' data-dismiss='modal'><span aria-hidden='true'>&times;</span><span class='sr-only'>Close</span></button>
</div>
<div class='modal-body'>
  <form>
    <div class='form-group'>
      <div class='input-group' >
            <div class="form-group">
              <label for="usrname"><span class="glyphicon glyphicon-user"></span> Username</label>
              <input type="text" class="form-control" id="usrname" placeholder="Enter email">
            </div>
            <div class="form-group">
              <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Password</label>
              <input type="text" class="form-control" id="psw" placeholder="Enter password">
            </div>
        <!-- <label for="usrname"><span class="glyphicon glyphicon-user"></span> Username</label>
        <input #user type='text' class="w3-input" placeholder='Inserisci il tuo nome utente'> <br>
        <input #pass type='text' class="w3-input" placeholder='Inserisci password'> <br>
        <!--  <input type='submit' (click)='onClickReg(name, surname, email, user, pass)' value='Register'>
      </div>
    </div>
    <div class='modal-footer'>
      <p>{{result}}</p>
      <input type='submit' class='btn btn-default' (click)='onClickLog(user, pass)' value='Accedi'>
      <a href='#modal-2' style='color: white' data-toggle='modal' data-dismiss='modal'><button type='button' class='btn btn-primary'>Registrati</button></a>
    </div>
  </form>
</div>-->
