<nav class=navbar>
	<h2 style='flex: 1 1 auto'> Monopattini Elettrici </h2>


	<div class=dropdown>
		<button class='btn btn-secondary dropdown-toggle' type=button data-toggle=dropdown> Info&Accesso </button>
    <ul class='dropdown-menu dropdown-menu-right'>
      <li class=dropdown-header>salve</li>
      <li *ngIf=logIn><a href=# data-toggle='modal' data-target='#modal-1'>{{Accedi}}</a></li>
      <li *ngIf=logOut><a href=# (click)=onClickLogOut()>Disconettiti</a></li>
      <li><a href=# data-toggle='modal' data-target='#modal-prob'>Segnala Malfunzionamento</a></li>
      <li class=divider></li>
      <li class=dropdown-header>References</li>
      <li><a href=#>About Us</a></li>
    </ul>
  </div>

	<!--<button type='button' class='btn btn-secondary' data-toggle='modal' data-target='#modal-1' > {{ Access }} </button>    (click)=onClickA() -->

</nav>



<app-mapping></app-mapping>


<div class='modal' id=modal-1>
  <div class=modal-dialog>
    <div class=modal-content>
      <app-logging></app-logging>
    </div>
  </div>
</div>


<div class='modal fade' id=modal-2>
  <div class=modal-dialog>
    <div class=modal-content>
      <app-register></app-register>
    </div>
  </div>
</div>

	<div class='modal' id=modal-prob>
		<div class=modal-dialog>
			<div class=modal-content>
				<app-vhc-problem></app-vhc-problem>
			</div>
		</div>
	</div>
