
<nav class='navbar navbar-expand-sm'>
	<h2 style='flex: 1 1 auto'> Monopattini Elettrici </h2>



	<button type='button' class='btn btn-secondary' data-toggle='modal' data-target='#modal-1' > {{ Access }} </button>
</nav>




<app-mapping></app-mapping>



<div class='modal fade' id='modal-1'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <app-logging></app-logging>
    </div>
  </div>
</div>


<div class='modal fade' id='modal-2'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <app-register></app-register>
    </div>
  </div>
</div>

